
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-col class="md-12 ion-text-center" >
        <img src="../assets/img/RV_1996_B.png" alt="">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<br>
 
<ion-content [fullscreen]="true">

  
  <div style="display: flex; align-items: center; padding-inline-end: 13px; ">
    <ion-searchbar 
      [(ngModel)]="searchText"
      animated="true" 
      placeholder="Ingrese frase..."
      (ionInput)="onSearchInput($event)"
      (ionClear)="onSearchClear()"
      (keyup.enter)="onSearchSubmit()"
      class="custom-searchbar">
    </ion-searchbar>
  
    <ion-button (click)="onSearchSubmit()" size="small" class="small-button">
      <ion-icon name="send"></ion-icon> 
    </ion-button>
  </div>

  <ion-row *ngIf="showBooks">
    <ion-col size="12">
      <b><ion-label>ANTIGUO TESTAMENTO </ion-label></b>

      <div class="books">
        @for (p of app.librosBiblia.antiguoTestamento; track p; let i = $index) {
          <a [routerLink]="['/read-book', p.nombre, 1]" class="book pointer">  <b>{{p.abrev}}</b> </a>
         }
      </div>

     <!-- <swiper-container [slidesPerView]="2.2" >
        
        @for (p of app.librosBiblia.antiguoTestamento; track p; let i = $index) {
          <swiper-slide>
            <img [src]='"../../assets/img/LIBROS/"+p.img+".jpg"' alt="">
          </swiper-slide>
        }

      </swiper-container>-->
    </ion-col>
  </ion-row>
  <br>
  <ion-row *ngIf="showBooks">
    <ion-col size="12">
      <b><ion-label>NUEVO TESTAMENTO </ion-label></b>
      <div class="books">
        @for (p of app.librosBiblia.nuevoTestamento; track p; let i = $index) {
          <a  [routerLink]="['/read-book', p.nombre, 1]"  class="book pointer">  <b>{{p.abrev}}</b> </a>
         }
      </div>

    </ion-col>
  </ion-row>

  <ion-row *ngIf="!showBooks">
    <ion-card *ngFor="let p of listVersiculos; let i = index" class="mini-card">
      <ion-card-content>
        <div class="header">
          <span class="libro">{{ p.nombre_libro }}</span>
          <span class="capitulo">{{ p.capitulo }}:{{ p.versiculo }}</span>
        </div> 
        <p class="texto">{{ p.texto }}</p>
        <ion-icon name="arrow-forward-circle" class="icono" [routerLink]="['/read-book', p.nombre_libro, p.capitulo]" ></ion-icon>
      </ion-card-content>
    </ion-card>
  </ion-row>
  
</ion-content>
