<ion-header>
  <ion-toolbar>
    <!-- Botón de Regresar alineado a la izquierda -->
    <ion-buttons slot="start">
      <ion-button >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Select centrado -->
    <ion-title>
      <ion-select (ionChange)="searchTextChaper()" [(ngModel)]="chaperRead" placeholder="Seleccionar opción">
        @for (p of listChapers; track p; let i = $index) {
          <ion-select-option value="{{p.chaper}}">{{p.book}}</ion-select-option>
        }
      </ion-select>
    </ion-title>

    <!-- Botón Next alineado a la derecha -->
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @for (p of listVersiculos; track p; let i = $index) {
    <p><b>{{p.versiculo}}</b> &nbsp; {{p.texto}}</p>
  }
</ion-content>

<!--<ion-footer>
  <ion-toolbar>
    <ion-title>Configuraci&oacute;n  </ion-title>
  </ion-toolbar>
</ion-footer>-->